<h2>Lists Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contact-list-api/contactlist-resource.html?method=DELETE">
    ConstantContact.delete_list(list_id)
</a></div>

<span id="methoddesc">
    Returns a short string containing the response.
</span>
<span id="methoddesc">
    <span id="varname">list_id</span> accepts a <div class="change-view" id="contact_list/component">Contact_List</div> object or a string.
</span>

<div class="code" id="lists/delete_list1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

<script src="scripts/load_code.js"></script>
