<h2>Lists Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contact-list-api/contactlist-collection.html?method=GET">
    ConstantContact.get_lists(modified_since = None)
</a></div>

<span id="methoddesc">
    Returns a list of <div class="change-view" id="contact_list/component">Contact_List</div> objects. 
</span>
<span id="methoddesc">
    <span id="varname">modified_since</span> accepts an iso-8601 formatted date as a string and is passed as a URL parameter.
</span>

<div class="code" id="lists/get_lists1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

<script src="scripts/load_code.js"></script>
