<h2>Lists Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contact-list-api/contactlist-membership-collection.html?method=GET">
    ConstantContact.get_list_contacts(list_id, limit = 50, modified_since = None)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="result_set/component">Result_Set</div> of <div class="change-view" id="contact/component">Contact</div> objects. 
</span>
<span id="methoddesc">
    <span id="varname">list_id</span> accepts a <div class="change-view" id="contact_list/component">Contact_List</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">limit</span> accepts a non-zero positive integer and is passed as a URL parameter. 
</span>
<span id="methoddesc">
    <span id="varname">modified_since</span> accepts an iso-8601 formatted date as a string and is passed as a URL parameter.
</span>

<div class="code" id="lists/get_list_contacts1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

<script src="scripts/load_code.js"></script>
