<h2>Lists Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contact-list-api/contactlist-collection.html?method=POST">
    ConstantContact.post_lists(list_name, status = 'ACTIVE')
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="contact_list/component">Contact_List</div> object from the response. 
</span>
<span id="methoddesc">
    <span id="varname">list_name</span> accepts a string or a <div class="change-view" id="contact_list/component">Contact_List</div> object and defines the list being created.
</span>
<span id="methoddesc">
    <span id="varname">status</span> accepts a string and is used when <span id="varname">list_name</span> is a string for setting defining the list status.
</span>

<div class="code" id="lists/post_lists1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

<script src="scripts/load_code.js"></script>
