<h2>Email_Address</h2>
<div id="docs">

<div id="methodname">
    class Email_Address(dict)
</div>
<span id="methoddesc">
    Any method that uses an Email_Address model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods: 
</span>
<div class="code">[
    'id',
    'status',
    'confirm_status',
    'opt_in_source',
    'opt_out_source',
    'opt_in_date',
    'opt_out_date',
    'email_address',
    'sub_postal_code'
]
</div>
<!--
<div class="code" id="account_info/component1"><div id="expander">Show Unit Tests</div><div id="code-holder"></div></div>
-->
<script src="scripts/load_code.js"></script>


