<h2>Account Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/account/summary-information-api.html?method=GET">
    ConstantContact.get_account_info()
</a></div>

<span id="methoddesc">
    Returns information associated with the account as an <div class="change-view" id="account_info/component">Account_Info</div> object.
</span>

<div class="code" id="account/get_info1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
