<h2>Account Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/account/verify-email-addresses.html?method=GET">
    ConstantContact.get_verified_email_addresses(status = 'ALL')
</a></div>

<span id="methoddesc">
    Returns a list of objects representing verified email addresses associated with the account. 
</span>
<span id="methoddesc">
    <span id="varname">status</span> accepts a string and is passed with the request as a URL parameter.
</span>

<div class="code" id="account/get_emails1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
