<h2>Account Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/account/verify-email-addresses.html?method=POST">
    ConstantContact.post_verified_email_addresses(email)
</a></div>

<span id="methoddesc">
    Posts an email to the accounts verified email addresses. 
</span>
<span id="methoddesc">
    <span id="varname">email</span> accepts either a string or an <div class="change-view" id="account_info/component">Account_Info</div> object.
</span>

<div class="code" id="account/post_emails1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
