<h2>Account Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/account/summary-information-api.html?method=PUT">
    ConstantContact.update_account_info(account_info)
</a></div>

<span id="methoddesc">
    Updates the account's associated information. 
</span>
<span id="methoddesc">
    <span id="varname">account_info</span> accepts either a dict or an <div class="change-view" id="account_info/component">Account_Info</div> object.
</span>

<div class="code" id="account/post_info1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
