<h2>{aaa}</h2>
<div id="docs">

<div id="methodname">
    class {aaa}(dict)
</div>
<span id="methoddesc">
    {aaa} is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an {aaa} model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get and delete methods (get_{attrName}, delete_{attrName}): 
</span>

<div class="code">[
    'contact_count',
    'created_date',
    'id',
    'modified_date',
    'name',
    'status'
]
</div>

<span id="methoddesc">
    The following attributes can be set (set_{attrName}): 
</span>

<div class="code">[
    'name',
    'status'
]
</div>

</div>

<script src="scripts/load_code.js"></script>
