<h2>Schedule</h2>
<div id="docs">

<div id="methodname">
    class Schedule(dict)
</div>
<span id="methoddesc">
    Schedule is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Schedule model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods (get_{attrName}, set_{attr_Name}, delete_{attrName}): 
</span>

<div class="code">[
    'id',
    'scheduled_date'
]
</div>

</div>

<script src="scripts/load_code.js"></script>
