<h2>MyLibrary Folder Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/mylibrary-folders-api/trash-folder.html?method=DELETE">
    ConstantContact.delete_trash()
</a></div>

<span id="methoddesc">
    Returns a short string containing the response.
</span>

<div class="code" id="mylibrary_folders/delete_trash1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
