<h2>MyLibrary Folder Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/mylibrary-folders-api/mylibrary-individual-folder.html?method=DELETE">
    ConstantContact.delete_folder(folder_id)
</a></div>

<span id="methoddesc">
    Returns a short string containing the response.
</span>
<span id="methoddesc">
    <span id="varname">folder_id</span> accepts a <div class="change-view" id="mylibrary/folder">Mylibrary_Folder</div> object or a string.
</span>

<div class="code" id="mylibrary_folders/delete_folder1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
