<h2>MyLibrary Folder Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/mylibrary-folders-api/mylibrary-info.html?method=GET">
    ConstantContact.get_mylibrary_info()
</a></div>

<span id="methoddesc">
    Returns a dict containing library usage information.
</span>

<div class="code" id="mylibrary_folders/library_info1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
