<h2>MyLibrary Folder Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/mylibrary-folders-api/mylibrary-individual-folder.html?method=PUT">
    ConstantContact.update_folder(folder)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="mylibrary/folder">Mylibrary_Folder</div> object from the response.
</span>
<span id="methoddesc">
    <span id="varname">folder</span> accept a dict or a <div class="change-view" id="mylibrary/folder">Mylibrary_Folder</div> object.
</span>

<div class="code" id="mylibrary_folders/update_folder1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
