
<div id="sidebar">
  <div id="sidebar-nav">Documentation</div>
  <div class="change-content" id="getting_started" style="border: none; margin-left: 0px; margin-bottom: 3px; max-height: 1024px; padding-top: 1px; padding-bottom: 1px;">
    Getting Started
  </div>

  <div id="sidebar-nav">Endpoint Methods</div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Account Endpoints
    </div>
    <div class="change-content" id="account/get_info">
      Get account info
    </div>
    <div class="change-content" id="account/put_info">
      Update account info
    </div>
    <div class="change-content" id="account/get_emails">
      Get verified emails
    </div>
    <div class="change-content" id="account/post_emails">
      Post verified emails
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Activity Endpoints
    </div>
    <div class="change-content" id="activity/import_contacts">
      Import contacts
    </div>
    <div class="change-content" id="activity/remove_contacts">
      Remove contacts
    </div>
    <div class="change-content" id="activity/clear_contact_lists">
      Clear contact lists
    </div>
    <div class="change-content" id="activity/export_contacts">
      Export contacts
    </div>
    <div class="change-content" id="activity/get_export_file">
      Get export file
    </div>
    <div class="change-content" id="activity/multipart_import">
      Multipart import
    </div>
    <div class="change-content" id="activity/multipart_remove">
      Multipart remove
    </div>
    <div class="change-content" id="activity/activities_status_report">
      Activities status report
    </div>
    <div class="change-content" id="activity/individual_activity_status">
      Individual activity status
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Campaigns Endpoints
    </div>
    <div class="change-content" id="campaigns/get_campaigns">
      Get all campaigns
    </div>
    <div class="change-content" id="campaigns/post_campaigns">
      Post campaign
    </div>
    <div class="change-content" id="campaigns/get_campaign">
      Get campaign
    </div>
    <div class="change-content" id="campaigns/update_campaign">
      Update campaign
    </div>
    <div class="change-content" id="campaigns/delete_campaign">
      Delete campaign
    </div>
    <div class="change-content" id="campaigns/test_send">
      Test Send
    </div>
    <div class="change-content" id="campaigns/preview">
      Preview
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Campaign Schedule Endpoints
    </div>
    <div class="change-content" id="campaign_schedules/get_schedules">
      Get all schedules
    </div>
    <div class="change-content" id="campaign_schedules/post_schedules">
      Post schedule
    </div>
    <div class="change-content" id="campaign_schedules/get_schedule">
      Get schedule
    </div>
    <div class="change-content" id="campaign_schedules/update_schedule">
      Update schedule
    </div>
    <div class="change-content" id="campaign_schedules/delete_schedule">
      Delete schedule
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Campaign Tracking Endpoints
    </div>
    <div class="change-content" id="campaign_tracking/get_summary_report">
      Get summary report
    </div>
    <div class="change-content" id="campaign_tracking/get_bounces">
      Get bounces
    </div>
    <div class="change-content" id="campaign_tracking/get_clicks">
      Get clicks
    </div>
    <div class="change-content" id="campaign_tracking/get_forwards">
      Get forwards
    </div>
    <div class="change-content" id="campaign_tracking/get_opens">
      Get opens
    </div>
    <div class="change-content" id="campaign_tracking/get_sends">
      Get sends
    </div>
    <div class="change-content" id="campaign_tracking/get_unsubscribes">
      Get unsubscribes
    </div>
    <div class="change-content" id="campaign_tracking/get_clicks_by_link">
      Get clicks by link
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Contacts Endpoints
    </div>
    <div class="change-content" id="contacts/get_contacts">
      Get all contacts
    </div>
    <div class="change-content" id="contacts/post_contact">
      Post contact
    </div>
    <div class="change-content" id="contacts/get_contact">
      Get contact
    </div>
    <div class="change-content" id="contacts/put_contact">
      Update contact
    </div>
    <div class="change-content" id="contacts/delete_contact">
      Delete contact
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Contact Tracking Endpoints
    </div>
    <div class="change-content" id="contact_tracking/get_tracking">
      Get tracking
    </div>
    <div class="change-content" id="contact_tracking/get_summary">
      Get summary
    </div>
    <div class="change-content" id="contact_tracking/get_bounces">
      Get bounces
    </div>
    <div class="change-content" id="contact_tracking/get_clicks">
      Get clicks
    </div>
    <div class="change-content" id="contact_tracking/get_forwards">
      Get forwards
    </div>
    <div class="change-content" id="contact_tracking/get_opens">
      Get opens
    </div>
    <div class="change-content" id="contact_tracking/get_sends">
      Get sends
    </div>
    <div class="change-content" id="contact_tracking/get_unsubscribes">
      Get unsubscribes
    </div>
    <div class="change-content" id="contact_tracking/get_reports">
      Get report by campaign
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Eventspot Endpoints
    </div>
    <div class="change-content" id="eventspot/get_events">
      Get all events
    </div>
    <div class="change-content" id="eventspot/post_events">
      Post events
    </div>
    <div class="change-content" id="eventspot/get_event">
      Get event
    </div>
    <div class="change-content" id="eventspot/update_event">
      Update event
    </div>
    <div class="change-content" id="eventspot/patch_event">
      Patch event
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Fees Endpoints
    </div>
    <div class="change-content" id="fees/get_fees">
      Get all fees
    </div>
    <div class="change-content" id="fees/post_fees">
      Post fees
    </div>
    <div class="change-content" id="fees/get_fee">
      Get fee
    </div>
    <div class="change-content" id="fees/update_fee">
      Update fee
    </div>
    <div class="change-content" id="fees/delete_fee">
      Delete fee
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Promocodes Endpoints
    </div>
    <div class="change-content" id="promocodes/get_promocodes">
      Get all promocodes
    </div>
    <div class="change-content" id="promocodes/post_promocodes">
      Post promocodes
    </div>
    <div class="change-content" id="promocodes/get_promocode">
      Get promocode
    </div>
    <div class="change-content" id="promocodes/update_promocode">
      Update promocode
    </div>
    <div class="change-content" id="promocodes/delete_promocode">
      Delete promocode
    </div>
  </div>
  
  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Items Endpoints
    </div>
    <div class="change-content" id="items/get_items">
      Get all items
    </div>
    <div class="change-content" id="items/post_items">
      Post items
    </div>
    <div class="change-content" id="items/get_item">
      Get item
    </div>
    <div class="change-content" id="items/update_item">
      Update item
    </div>
    <div class="change-content" id="items/delete_item">
      Delete item
    </div>
  </div>
  
  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Item Attributes Endpoints
    </div>
    <div class="change-content" id="item_attributes/get_item_attributes">
      Get all item attributes
    </div>
    <div class="change-content" id="item_attributes/post_item_attributes">
      Post item attributes
    </div>
    <div class="change-content" id="item_attributes/get_item_attribute">
      Get item attribute
    </div>
    <div class="change-content" id="item_attributes/update_item_attribute">
      Update item attribute
    </div>
    <div class="change-content" id="item_attributes/delete_item_attribute">
      Delete item attribute
    </div>
  </div>
  
  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Registrants Endpoints
    </div>
    <div class="change-content" id="registrants/get_registrants">
      Get all registrants
    </div>
    <div class="change-content" id="registrants/get_registrant">
      Get registrant
    </div>
  </div>
  
  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Lists Endpoints
    </div>
    <div class="change-content" id="lists/get_lists">
      Get all lists
    </div>
    <div class="change-content" id="lists/post_lists">
      Post lists
    </div>
    <div class="change-content" id="lists/get_list">
      Get list
    </div>
    <div class="change-content" id="lists/update_list">
      Update list
    </div>
    <div class="change-content" id="lists/delete_list">
      Delete list
    </div>
    <div class="change-content" id="lists/get_list_contacts">
      Get list contacts
    </div>
  </div>


  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Library Folder Endpoints
    </div>
    <div class="change-content" id="mylibrary_folders/get_folders">
      Get all folders
    </div>
    <div class="change-content" id="mylibrary_folders/post_folders">
      Post folders
    </div>
    <div class="change-content" id="mylibrary_folders/get_folder">
      Get folder
    </div>
    <div class="change-content" id="mylibrary_folders/update_folder">
      Update folder
    </div>
    <div class="change-content" id="mylibrary_folders/delete_folder">
      Delete folder
    </div>
    <div class="change-content" id="mylibrary_folders/get_trash">
      Get trash
    </div>
    <div class="change-content" id="mylibrary_folders/delete_trash">
      Delete trash
    </div>
    <div class="change-content" id="mylibrary_folders/library_info">
      Library info
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Library File Endpoints
    </div>
    <div class="change-content" id="mylibrary_files/get_files">
      Get all files
    </div>
    <div class="change-content" id="mylibrary_files/post_files">
      Post files
    </div>
    <div class="change-content" id="mylibrary_files/get_upload_status">
      Get upload status
    </div>
    <div class="change-content" id="mylibrary_files/get_file">
      Get file
    </div>
    <div class="change-content" id="mylibrary_files/update_file">
      Update file
    </div>
    <div class="change-content" id="mylibrary_files/delete_file">
      Delete file
    </div>
    <div class="change-content" id="mylibrary_files/get_files_by_folder">
      Get files by folder
    </div>
    <div class="change-content" id="mylibrary_files/move_files">
      Move files
    </div>
  </div>


  <div id="sidebar-nav">Object Models</div>

  <div class="change-content" id="account_info/component" style="border: none; margin-left: 0px; margin-bottom: 3px; max-height: 1024px; padding-top: 1px; padding-bottom: 1px;">
    Account_Info class
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Activity Related Classes
    </div>
    <div class="change-content" id="activity_status/component">
      Activity_Status
    </div>
    <div class="change-content" id="multipart_activity/component">
      Multipart_Activity
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Campaign Related Classes
    </div>
    <div class="change-content" id="campaign/component">
      Campaign class
    </div>
    <div class="change-content" id="schedule/component">
      Schedule class
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Contact Related Classes
    </div>
    <div class="change-content" id="contact/component">
      Contact class
    </div>
    <div class="change-content" id="contact_list/component">
      Contact_List class
    </div>
    <div class="change-content" id="contact/address">
      Address class
    </div>
    <div class="change-content" id="contact/email_address">
      Email_Address class
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Event Related Classes
    </div>
    <div class="change-content" id="event/component">
      Event class
    </div>
    <div class="change-content" id="event/fee">
      Fee class
    </div>
    <div class="change-content" id="event/promocode">
      Promocode class
    </div>
    <div class="change-content" id="event/registrant">
      Registrant class
    </div>
    <div class="change-content" id="event/item">
      Item class
    </div>
    <div class="change-content" id="event/attribute">
      Attribute class
    </div>
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      MyLibrary Related Classes
    </div>
    <div class="change-content" id="mylibrary/file">
      Mylibrary_File class
    </div>
    <div class="change-content" id="mylibrary/folder">
      Mylibrary_Folder class
    </div>
    <div class="change-content" id="mylibrary/multipart_file">
      Multipart_File class
    </div>
  </div>

  <div class="change-content" id="result_set/component" style="border: none; margin-left: 0px; margin-bottom: 3px; max-height: 1024px; padding-top: 1px; padding-bottom: 1px;">
    Result_Set class
  </div>

  <div class="drop-down">
    <div class="expand-drop-down" id="collapsed">
      Tracking Related Classes
    </div>
    <div class="change-content" id="activity_report/component">
      Activity_Report
    </div>
    <div class="change-content" id="tracking_summary/component">
      Tracking_Summary
    </div>
  </div>

</div>
<div id="hide-sidebar">
  &lt; &lt; &lt;
</div>
<div id="content">

</div>
<script src="scripts/landing.js"></script>
