<h2>Events Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/individual-events.html?method=GET">
    ConstantContact.get_event(event_id)
</a></div>

<span id="methoddesc">
    Returns an <div class="change-view" id="event/component">Event</div> object with the specified <span id="varname">event_id</span>.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>

<div class="code" id="eventspot/get_event1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
