<h2>Events Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/individual-events.html?method=PATCH">
    ConstantContact.patch_event(event_id, value)
</a></div>

<span id="methoddesc">
    Returns an <div class="change-view" id="event/component">Event</div> object from the response. Currently, the patch event endpoint can only change the status of an event.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">value</span> accepts a string specifying the new status for the event.
</span>

<div class="code" id="eventspot/patch_event1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
