<h2>Events Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/individual-events.html?method=PUT">
    ConstantContact.update_event(event)
</a></div>

<span id="methoddesc">
    Returns an <div class="change-view" id="event/component">Event</div> object from the response.
</span>
<span id="methoddesc">
    <span id="varname">event</span> accepts a dict or an <div class="change-view" id="event/component">Event</div> object.
</span>

<div class="code" id="eventspot/update_event1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
