<h2>Multipart_Activity</h2>
<div id="docs">

<div id="methodname">
    class Multipart_Activity(dict)
</div>
<span id="methoddesc">
    Multipart_Activity is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Multipart_Activity model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods (get_{attrName}, set_{attrName}, delete_{attrName}): 
</span>

<div class="code">[
    'data',
    'file_name',
    'lists'
]
</div>

</div>

<script src="scripts/load_code.js"></script>
