<h2>Campaigns Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/email-campaigns/email-campaign-resource.html?method=DELETE">
    ConstantContact.delete_campaign(campaign_id)
</a></div>

<span id="methoddesc">
    Returns a short string containing the response.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or string.
</span>

<div class="code" id="campaigns/delete_campaign1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
