<h2>Campaigns Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/email-campaigns/email-campaign-resource.html?method=GET">
    ConstantContact.get_campaign(campaign_id, updateSummary = False)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="campaign/component">Campaign</div> object specified by <span id="varname">campaign_id</span>.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or string.
</span>
<span id="methoddesc">
    <span id="varname">updateSummary</span> accepts a boolean and when set to true retrieves the current tracking_summary data.
</span>

<div class="code" id="campaigns/get_campaign1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
