<h2>Campaigns Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/email-campaigns/email-campaigns-collection.html?method=GET">
    ConstantContact.get_campaigns(limit = 50, modified_since = None, status = 'ALL')
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="result_set/component">Result_Set</div> of <div class="change-view" id="campaign/component">Campaign</div> objects. 
</span>
<span id="methoddesc">
    <span id="varname">limit</span> accepts a non-zero positive integer and is passed as a URL parameter. 
</span>
<span id="methoddesc">
    <span id="varname">modified_since</span> accepts an iso-8601 formatted date as a string and is passed as a URL parameter.
</span>
<span id="methoddesc">
    <span id="varname">status</span> accepts a string and is passed as a URL parameter.
</span>

<div class="code" id="campaigns/get_campaigns1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
