<h2>Campaigns Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/email-campaigns/email-campaigns-collection.html?method=POST">
    ConstantContact.post_campaigns(campaign)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="campaign/component">Campaign</div> object from the response content.
</span>
<span id="methoddesc">
    <span id="varname">campaign</span> accepts a dict or <div class="change-view" id="campaign/component">Campaign</div> object.
</span>

<div class="code" id="campaigns/post_campaigns1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
