<h2>Campaigns Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/email-testsend/email-campaign-preview.html?method=GET">
    ConstantContact.preview_campaign(campaign_id)dpreview_campaign(self, campaign_id)
</a></div>
<span id="methoddesc">
    Returns an object containing the HTML and Text content of the email campaign in addition to some other fields. 
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or string.
</span>

<div class="code" id="campaigns/preview1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
