<h2>Campaigns Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/email-testsend/email-campaign-testsend-api.html?method=POST">
    ConstantContact.test_send_campaign(campaign_id, email_addresses, format, personal_message)
</a></div>
<span id="methoddesc">
    Returns an object containing the initial test send request body.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or string.
</span>
<span id="methoddesc">
    <span id="varname">email_addresses</span> accepts a list of either <div class="change-view" id="contact/email_address">Email_Address</div> objects or strings and specities the recipients of the test send.
</span>
<span id="methoddesc">
    <span id="varname">format</span> accepts a string and specifies whether to send the HTML content, TEXT content, or both in the test email.
</span>
<span id="methoddesc">
    <span id="varname">personal_message</span> accepts a string to be included with the test email. 
</span>

</div>

<script src="scripts/load_code.js"></script>
