<h2>Campaign Schedules Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/campaign-scheduling/campaign-schedule-collection.html?method=GET">
    ConstantContact.get_campaign_schedules(campaign_id)
</a></div>

<span id="methoddesc">
    Returns a list of <div class="change-view" id="schedule/component">Campaign_Schedule</div> objects for the relevant campaign.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or a string.
</span>

<div class="code" id="campaign_schedules/get_schedules1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
