<h2>Campaign Schedules Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/campaign-scheduling/campaign-schedule-collection.html?method=POST">
    ConstantContact.post_campaign_schedules(campaign_id, schedule)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="schedule/component">Campaign_Schedule</div> object from the response content.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">schedule</span> accepts a dict, <div class="change-view" id="schedule/component">Schedule</div> object, or an iso-8601 formatted time string.
</span>

<div class="code" id="campaign_schedules/post_schedules1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
