<h2>Campaign Schedules Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/campaign-scheduling/campaign-schedule-resource.html?method=PUT">
    ConstantContact.update_campaign_schedule(campaign_id, schedule)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="schedule/component">Campaign_Schedule</div> object of the updated schedule.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">schedule</span> accepts a dict or a <div class="change-view" id="schedule/component">Schedule</div> object.
</span>

<div class="code" id="campaign_schedules/update_schedule1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
