<h2>Fees Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/individual-event-fees.html?method=GET">
    ConstantContact.get_event_fee(event_id, fee_id)
</a></div>
<span id="methoddesc">
    Returns a <div class="change-view" id="event/fee">Fee</div> objects with the specified <span id="varname">fee_id</span>.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">fee_id</span> accepts a <div class="change-view" id="event/fee">Fee</div> object or a string.
</span>

<div class="code" id="fees/get_fee1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>