<h2>Fees Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/event-fees-collection.html?method=POST">
    ConstantContact.post_event_fees(event_id, fee)
</a></div>
<span id="methoddesc">
    Returns a <div class="change-view" id="event/fee">Fee</div> objects from the response.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">fee</span> accepts a dict or a <div class="change-view" id="event/fee">Fee</div> object.
</span>

<div class="code" id="fees/post_fees1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
