<h2>Activity Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/bulk_activities_api/bulk-activities-summary-report-api.html?method=GET">
    ConstantContact.activities_status_report(type_query = None, status = 'ALL')
</a></div>

<span id="methoddesc">
    Returns a list of <div class="change-view" id="activity_status/component">Activity_Status</div> objects with information regarding the previous 50 activitie submitted. 
</span>
<span id="methoddesc">
    <span id="varname">type_query</span> accepts a string specifying type of activities to retrieve. 
</span>
<span id="methoddesc">
    <span id="varname">status</span> accepts a string specifying the status of activities to retrieve.
</span>

<div class="code" id="activity/activities_status_report1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
