<h2>Activity Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/bulk_activities_api/bulk-activities-clear-contactlists.html?method=POST">
    ConstantContact.clear_contact_lists(lists)
</a></div>

<span id="methoddesc">
    Returns a shortened <div class="change-view" id="activity_status/component">Activity_Status</div> object with relevant information to the request. 
</span>
<span id="methoddesc">
    <span id="varname">lists</span> accepts a list of strings representing valid contact_list ids specifying which lists to clear all contacts from.
</span>

<div class="code" id="activity/clear_contact_lists1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
