<h2>Activity Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/bulk_activities_api/bulk-activities-export-contacts.html?method=POST">
    ConstantContact.export_contacts(columns, lists, sort_by = 'EMAIL_ADDRESS', file_type = 'CSV', export_added_by = False, export_date_added = False)
</a></div>

<span id="methoddesc">
    Returns a shortened <div class="change-view" id="activity_status/component">Activity_Status</div> object with relevant information to the request. 
</span>
<span id="methoddesc">
    <span id="varname">columns</span> accepts a list of strings specifying which properties to include in the exported file. 
</span>
<span id="methoddesc">
    <span id="varname">lists</span> accepts a list of strings representing valid contact_list ids or system list names specifying which lists to export. Currently, the API only supports one list id. 
</span>
<span id="methoddesc">
    <span id="varname">sort_by</span> accepts a string defining the sort order of the exported file. 
</span>
<span id="methoddesc">
    <span id="varname">file_type</span> accepts a string specifying the format of the export file. Currently, only CSV is supported. 
</span>
<span id="methoddesc">
    <span id="varname">export_added_by</span> accepts a boolean when set to true adds a column showing who added or removed the contact to or from the list. 
</span>
<span id="methoddesc">
    <span id="varname">export_date_added</span> accepts a boolean when set to true adds a column showing the date that each contact was added.
</span>

<div class="code" id="activity/export_contacts1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
