<h2>Activity Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/bulk_activities_api/bulk-activities-export-contacts.html?method=POST">
    ConstantContact.get_export_file(file_name)
</a></div>

<span id="methoddesc">
    Returns a file containing the exported data from a export contacts activity. Currently, the only filetype supported is CSV.
</span>
<span id="methoddesc">
    <span id="varname">file_name</span> accepts a string containing the full url for an exportfiles activity. 
</span>

<div class="code" id="activity/get_export_file1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
