<h2>Activity Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/bulk_activities_api/bulk-activities-import-contacts.html?method=POST">
    ConstantContact.import_contacts(import_data, lists, columns)
</a></div>

<span id="methoddesc">
    Returns a shortened <div class="change-view" id="activity_status/component">Activity_Status</div> object with relevant information to the request. 
</span>
<span id="methoddesc">
    <span id="varname">import_data</span> accepts a list of dicts or <div class="change-view" id="contact/component">Contact</div> objects with the fields specified by <span id="varname">columns</span>. 
</span>
<span id="methoddesc">
    <span id="varname">lists</span> accepts a list of strings representing valid contact_list ids. 
</span>
<span id="methoddesc">
    <span id="varname">columns</span> accepts a list of strings representing properties to include with each contact in <span id="varname">import_data</span>.
</span>

<div class="code" id="activity/import_contacts1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
