<h2>Activity Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/bulk_activities_api/bulk-activities-status-detail-report-api.html?method=GET">
    ConstantContact.individual_activity_status(activity_id)
</a></div>

<span id="methoddesc">
    Returns an <div class="change-view" id="activity_status/component">Activity_Status</div> object relating to the activity specified by <span id="varname">activity_id</span>. 
</span>
<span id="methoddesc">
    <span id="varname">activity_id</span> accepts a string representing an activity id or an <div class="change-view" id="activity_status/component">Activity_Status</div> object with a proper id. 
</span>

<div class="code" id="activity/individual_activity_status1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
