<h2>Contact Tracking Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contact-tracking/contacttracking-bycampaign.html?method=GET">
    ConstantContact.get_contact_report_by_campaign(contact_id)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="result_set/component">Result_Set</div> of <div class="change-view" id="activity_report/component">Activity_Report</div> objects.
</span>
<span id="methoddesc">
    <span id="varname">contact_id</span> accepts a <div class="change-view" id="contact/component">Contact</div> object or a string.
</span>

<div class="code" id="contact_tracking/get_reports1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
