<h2>Contact Tracking Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contact-tracking/summary-report.html?method=GET">
    ConstantContact.get_contact_tracking_summary(contact_id)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="tracking_summary/component">Tracking_Summary</div> object.
</span>
<span id="methoddesc">
    <span id="varname">contact_id</span> accepts a <div class="change-view" id="contact/component">Contact</div> object or a string.
</span>

<div class="code" id="contact_tracking/get_summary1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
