<h2>Promocodes Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/promocode-collection.html?method=GET">
    ConstantContact.get_event_promocodes(event_id)
</a></div>
<span id="methoddesc">
    Returns a list of <div class="change-view" id="event/promocode">Promocode</div> objects.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>

<div class="code" id="promocodes/get_promocodes1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
