<h2>Registrants Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/event-registrants-collection.html?method=GET">
    ConstantContact.get_event_registrants(event_id, limit = 50)
</a></div>
<span id="methoddesc">
    Returns a <div class="change-view" id="result_set/component">Result_Set</div> of <div class="change-view" id="event/registrant">Registrant</div> objects.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">limit</span> accepts an integer and is passed as a url query specifying the maximum number of registrants to include per page.
</span>

<div class="code" id="registrants/get_registrants1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
