<h2>Registrants Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/registrants-resource.html?method=GET">
    ConstantContact.get_event_registrant(event_id, registrant_id)
</a></div>
<span id="methoddesc">
    Returns a <div class="change-view" id="event/registrant">Registrant</div> object with the specified <span id="varname">registrant_id</span>.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">registrant_id</span> accepts a <div class="change-view" id="event/registrant">Registrant</div> object or a string.
</span>

<div class="code" id="registrants/get_registrant1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
