<h2>Item Attributes Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/item-attribute-resource.html?method=DELETE">
    ConstantContact.delete_event_item_attribute(event_id, attribute_id)
</a></div>
<span id="methoddesc">
    Returns a short string containing the response.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">attribute_id</span> accepts an <div class="change-view" id="event/attribute">Item_Attribute</div> object or a string.
</span>

<div class="code" id="item_attributes/delete_item_attribute1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
