<h2>Item Attributes Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/item-attribute-collection.html?method=POST">
    ConstantContact.post_event_item_attributes(event_id, attribute)
</a></div>
<span id="methoddesc">
    Returns an <div class="change-view" id="event/attribute">Item_Attribute</div> objects from the response.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">attribute</span> accepts a dict or an <div class="change-view" id="event/attribute">Item_Attribute</div> object.
</span>

<div class="code" id="item_attributes/post_item_attributes1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
