<h2>Activity_Status</h2>
<div id="docs">

<div id="methodname">
    class Activity_Status(dict)
</div>
<span id="methoddesc">
    Activity_Status is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Activity_Status model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get methods (get_{attrName}): 
</span>

<div class="code">[
    'contact_count',
    'created_date',
    'error_count',
    'errors',
    'file_name',
    'finish_date',
    'id',
    'start_date',
    'status',
    'type',
]
</div>

</div>

<script src="scripts/load_code.js"></script>
