<h2>Mylibrary_File</h2>
<div id="docs">

<div id="methodname">
    class Mylibrary_File(dict)
</div>
<span id="methoddesc">
    Mylibrary_File is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Mylibrary_File model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods (get_{attrName}, set_{attrName}, delete_{attrName}): 
</span>

<div class="code">[
    'created_date',
    'description',
    'file_type',
    'folder',
    'folder_id',
    'height',
    'id',
    'is_image',
    'modified_date',
    'name',
    'size',
    'source',
    'status',
    'thumbnail',
    'url',
    'width'
]
</div>

</div>

<script src="scripts/load_code.js"></script>
