<h2>Items Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/eventspot-apis/event-item-collection.html?method=POST">
    ConstantContact.post_event_items(event_id, item)
</a></div>
<span id="methoddesc">
    Returns an <div class="change-view" id="event/item">Item</div> objects from the response.
</span>
<span id="methoddesc">
    <span id="varname">event_id</span> accepts an <div class="change-view" id="event/component">Event</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">item</span> accepts a dict or an <div class="change-view" id="event/item">Item</div> object.
</span>

<div class="code" id="items/post_items1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
