<h2>Account_Info</h2>
<div id="docs">

<div id="methodname">
    class Account_Info(dict)
</div>
<span id="methoddesc">
    Account_Info is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Account_Info model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods (get_{attrName}, set_{attrName}, delete_{attrName}): 
</span>

<div class="code">[
    'company_logo',
    'country_code',
    'email',
    'first_name',
    'last_name',
    'organization_name',
    'phone',
    'state_code',
    'time_zone',
    'website'
]
</div>

<div id="methodname">
    Account_Info.get_organization_address()
</div>
<span id="methoddesc">
    Returns an <div class="change-view" id="contact/address">Address</div> object.
</span>

<div id="methodname">
    Account_Info.set_organization_address(address)
</div>
<span id="methoddesc">
    <span id="varname">address</span> accepts a dict or an <div class="change-view" id="contact/address">Address</div> object.
</span>

<div id="methodname">
    Account_Info.clear_organization_address()
</div>
<span id="methoddesc">
    Removes the <span id="varname">organization_addresses</span> attribute of the object.
</span>

<div class="code" id="account_info/component1"><div id="expander">Show Unit Tests</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
