<h2>Tracking_Summary</h2>
<div id="docs">

<div id="methodname">
    class Tracking_Summary(dict)
</div>
<span id="methoddesc">
    Tracking_Summary is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Tracking_Summary model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods (get_{attrName}, set_{attrName}, delete_{attrName}): 
</span>

<div class="code">[
    'bounces',
    'clicks',
    'forwards',
    'opens',
    'sends',
    'spam_count',
    'unsubscribes'
]
</div>

</div>

<script src="scripts/load_code.js"></script>
