<h2>Contacts Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contacts-api/contacts-collection.html?method=GET">
    ConstantContact.get_contacts(email = None, limit = 50, modified_since = None, status = 'ALL')
</a></div>
<span id="methoddesc">
    Returns a <div class="change-view" id="result_set/component">Result_Set</div> of <div class="change-view" id="contact/component">Contact</div> objects.
</span>
<span id="methoddesc">
    <span id="varname">email</span> accepts an <div class="change-view" id="contact/email_address">Email_Address</div> or a string and passes it as a URL query specidying a specific contact to retrieve.
</span>
<span id="methoddesc">
    <span id="varname">limit</span> accepts an integer and passes it as a URL query specifying the maximum number of contacts per page.
</span>
<span id="methoddesc">
    <span id="varname">modified_since</span> accepts an iso-8601 formatted time string and passes it as a URL query to retrieve contacts created after a specific date.
</span>
<span id="methoddesc">
    <span id="varname">status</span>  and passes it as a URL query to retrieve contacts with a specific status.
</span>

<div class="code" id="contacts/get_contacts1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
