<h2>Contacts Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contacts-api/contacts-resource.html?method=GET">
    ConstantContact.get_contact(contact_id)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="contact/component">Contact</div> object corresponding to the specified <span id="varname">contact_id</span>.
</span>
<span id="methoddesc">
    <span id="varname">contact_id</span> accepts a string or a <div class="change-view" id="contact/component">Contact</div> object.
</span>

<div class="code" id="contacts/get_contact1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
