<h2>Contacts Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/contacts-api/contacts-collection.html?method=POST">
    ConstantContact.post_contacts(contact, action_by = 'ACTION_BY_OWNER')
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="contact/component">Contact</div> object from the response.
</span>
<span id="methoddesc">
    <span id="varname">contact</span> accepts a dict or a <div class="change-view" id="contact/component">Contact</div> object as the payload for the response.
</span>
<span id="methoddesc">
    <span id="varname">action_by</span> accepts a string and is passed as a URL query specifying the source of the contact.
</span>

<div class="code" id="contacts/post_contact1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
