<h2>Campaign Tracking Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/campaign-tracking/open-activities-collection.html?method=GET">
    ConstantContact.get_campaign_opens(campaign_id, created_since = None, limit = 500)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="result_set/component">Result_Set</div> of <div class="change-view" id="activity_report/component">Activity_Report</div> objects.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">created_since</span> accepts an iso-8601 formatted time string for specifying after what date to retrieve activity reports.
</span>
<span id="methoddesc">
    <span id="varname">limit</span> accepts an integer specifying the maximum number of activity reports per page.
</span>

<div class="code" id="campaign_tracking/get_opens1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
