<h2>Campaign Tracking Endpoints</h2>
<div id="docs">

<div id="methodname"><a id="methodname" href="http://developer.constantcontact.com/docs/campaign-tracking/summary-report.html?method=GET">
    ConstantContact.get_campaign_summary_report(campaign_id, updateSummary = False)
</a></div>

<span id="methoddesc">
    Returns a <div class="change-view" id="tracking_summary/component">Tracking_Summary</div> object for the specific campaign.
</span>
<span id="methoddesc">
    <span id="varname">campaign_id</span> accepts a <div class="change-view" id="campaign/component">Campaign</div> object or a string.
</span>
<span id="methoddesc">
    <span id="varname">updateSummary</span> accepts a boolean and is used to retrieve the current tracking data as opposed to the data from the last scheduled update.
</span>

<div class="code" id="campaign_tracking/get_summary_report1"><div id="expander">Show Example</div><div id="code-holder"></div></div>

</div>

<script src="scripts/load_code.js"></script>
