<h2>Attribute</h2>
<div id="docs">

<div id="methodname">
    class Attribute(dict)
</div>
<span id="methoddesc">
    Attribute is a subclass of the basic python dictionary type and can use any method available to standard python dictionaries.
    Any method that uses an Attribute model can also accept a properly formatted standard python dictionary.
</span>
<span id="methoddesc">
    The following attributes have get, set, and delete methods (get_{attrName}, set_{attrName}, delete_{attrName}): 
</span>

<div class="code">[
    'id',
    'name',
    'quantity_available',
    'quantity_total'
]
</div>

</div>

<script src="scripts/load_code.js"></script>
